

.sqr-comments {
	margin-top: 6rem;
}

.sqr-reply {
	float:right;
}

.sqr-comment-form {
	display: none;
}
.sqr-comment-form label {
  font-weight: normal;
}



@media screen and (max-width: 575px) {
	.sqr-comment-form	label span.sqr-help-text {
		display: block;
	}
}
.sqr-comment-form	label span.sqr-help-text {
	font-weight: normal;
}

.sqr-submit-area {
}

.sqr-submit-area button {
  float: right;
}

.sqr-comment-form	.g-recaptcha {
	display: inline-block;
}

.sqr-comment-form	input {
	padding: 2px;
	font-size: 14px;
  font-weight: normal;
  margin: 1px;
  border: 1px solid lightgray;
  outline: 0;
  box-sizing: border-box;
  border-radius: 0.3rem;
}

.sqr-comment-form	input:focus {
  margin: 0;
  border: 2px solid #29f;
}

.sqr-comment-form	textarea {
	width:100%;
  margin: 1px;
  margin-bottom:7px;
  border: 1px solid lightgray;
  outline: 0;
  box-sizing: border-box;
  border-radius: 0.3rem;
}

.sqr-comment-form	textarea:focus {
  margin: 0;
	border: 2px solid #29f;
  margin-bottom:6px;
}


.sqr-comment {
	margin-bottom: 10px;
	border-bottom: 1px solid #dddddd;
}
.sqr-comment:first-child {
	padding-top: 10px;
	border-top: 1px solid #dddddd;
}

.sqr-gravatar {
	background: #dddddd;
  width: 46px;
  height: 46px;
  border-radius: 5px;
	float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}

.sqr-comment p {
	margin-top:5px;
}

.sqr-userid {
  margin-left: 0.6rem;
  color: #aaaaaa;
}

.sqr-username {
  font-weight: bold;
}

.sqr-date {
	float: right;
	font-size: 0.8em;
  color: #aaaaaa;
}

.sqr-error {
  color: #ffffff;
  background-color: #f36d15;
}

.sqr-error,
.sqr-btn {
	border:none;
	outline:none;
	padding:8px;
	font-size: 14px;
	border-radius: 4px;
	display: inline-block;
}

.sqr-btn {
	cursor: pointer;
  color: #ffffff;
  background-color: #9359fa;
}
.sqr-btn:focus,
.sqr-btn.focus {
  color: #ffffff;
  background-color: #9359fa;
  border-color: #9359fa;
	outline: none;
}
.sqr-btn:hover {
  color: #ffffff;
  background-color: #9359fa;
  border-color: #9359fa;
}
.sqr-btn:active,
.sqr-btn.active {
  color: #ffffff;
  background-color: #9359fa;
  border-color: #9359fa;

}
.sqr-btn:active:hover,
.sqr-btn.active:hover,
.sqr-btn:active:focus,
.sqr-btn.active:focus,
.sqr-btn:active.focus,
.sqr-btn.active.focus {
  color: #ffffff;
  background-color: #9359fa;
  border-color: #9359fa;
	outline: none;
}
.sqr-btn:active,
.sqr-btn.active {
  background-image: none;
}
.sqr-btn.disabled,
.sqr-btn[disabled],
.sqr-btn.disabled:hover,
.sqr-btn[disabled]:hover,
.sqr-btn.disabled:focus,
.sqr-btn[disabled]:focus,
.sqr-btn.disabled.focus,
.sqr-btn[disabled].focus {
  background-color: #9990cb;
  border-color: #9990cb;
}
