

.sqr-comments {
	margin-top: 6rem;
}

.sqr-reply {
	float:right;
}

.sqr-comment-form label {
  font-weight: normal;
}

.sqr-comment-bottom-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-size: 0.9em;
  margin-bottom: 0.1em;
}

.sqr-comment-bottom-row a,
.sqr-comment-bottom-row a:hover,
.sqr-comment-bottom-row a:visited,
.sqr-comment-bottom-row a:active,
.sqr-comment-bottom-row span {
  color: #9359fa;
  text-decoration: none;
  cursor: pointer;
  margin-right: 1em;
  margin-left: 1em;
}

.sqr-reply-to-comment-form {
  margin-top: 2em;
  margin-bottom: 4em;
  display: none;
}

.sqr-submit-area {
}

.sqr-submit-area button {
  float: right;
}
.sqr-comment-form	 {
  background: #ddd;
  border: 1em solid #ddd;
  border-radius: 0.4em;
  padding-bottom: 3em;
}

.sqr-comment-form	input[type='text'] {
	padding: 2px;
	font-size: 14px;
  font-weight: normal;
  margin: 1px;
  border: 1px solid lightgray;
  outline: 0;
  box-sizing: border-box;
  border-radius: 0.3rem;
}

.sqr-comment-form	input[type='text']:focus {
  margin: 0;
  border: 2px solid #29f;
}

.sqr-comment-form	textarea {
	width:100%;
  margin: 1px;
  margin-bottom:7px;
  border: 1px solid lightgray;
  outline: 0;
  box-sizing: border-box;
  border-radius: 0.3rem;
  padding: 0.5em;
}

.sqr-comment-form	textarea:focus {
  margin: 0;
	border: 2px solid #29f;
  margin-bottom:6px;
}

.sqr-comment-form-hidden,
.sqr-error.sqr-comment-form-hidden {
  display: none;
}

.sqr-error-mini {
  margin-left: 1em;
  padding: 2px 8px;
}


.sqr-radio-row {
  display: flex;
  align-items: center;
}

.sqr-radio-row label{
  margin-left: 1em;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 0 4px;
  border-radius: 4px;
}
.sqr-radio-row label .sqr-selected-radio {
  background-color: #f8feac;
  border-radius: 8px;
}

.sqr-radio-row label span {
  padding-top: 4px;
  padding-left: 0.3em;
}

.sqr-radio-row input[type="radio"] {
  margin-top: 0;
}
.sqr-radio-row input[type="radio"]:focus {
  outline: 0;
}


.sqr-comment {
}

.sqr-comment-highlighted {

}

.sqr-post-column {
  border-bottom: 1px solid #dddddd;
  margin-bottom: 1.6em;
}

.sqr-post-column.sqr-highlighted {
  background-color: #f8feac;
}

.sqr-comment:first-child {
	padding-top: 10px;
	border-top: 1px solid #dddddd;
}

.sqr-gravatar {
	background: #dddddd;
  width: 46px;
  height: 46px;
  border-radius: 5px;
	float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}

.sqr-comment p {
	margin-top:5px;
}

.sqr-in-reply-to {
  padding-left: 1em;
  padding-right: 1em;
  color: #aaaaaa;
  font-size: 0.9em;
}

.sqr-avatar-hash {
  margin-left: 0.6rem;
  color: #aaaaaa;
}

.sqr-username {
  font-weight: bold;
}

.sqr-date {
	float: right;
	font-size: 0.8em;
  color: #aaaaaa;
}

.sqr-error {
  color: #ffffff;
  background-color: #f36d15;
}

.sqr-error,
.sqr-btn {
	border:none;
	outline:none;
	padding:8px;
	font-size: 14px;
	border-radius: 4px;
	display: inline-block;
}

.sqr-btn {
	cursor: pointer;
  color: #ffffff;
  background-color: #9359fa;
}
.sqr-btn:focus,
.sqr-btn.focus {
  color: #ffffff;
  background-color: #9359fa;
  border-color: #9359fa;
	outline: none;
}
.sqr-btn:hover {
  color: #ffffff;
  background-color: #9359fa;
  border-color: #9359fa;
}
.sqr-btn:active,
.sqr-btn.active {
  color: #ffffff;
  background-color: #9359fa;
  border-color: #9359fa;

}
.sqr-btn:active:hover,
.sqr-btn.active:hover,
.sqr-btn:active:focus,
.sqr-btn.active:focus,
.sqr-btn:active.focus,
.sqr-btn.active.focus {
  color: #ffffff;
  background-color: #9359fa;
  border-color: #9359fa;
	outline: none;
}
.sqr-btn:active,
.sqr-btn.active {
  background-image: none;
}
.sqr-btn.disabled,
.sqr-btn[disabled],
.sqr-btn.disabled:hover,
.sqr-btn[disabled]:hover,
.sqr-btn.disabled:focus,
.sqr-btn[disabled]:focus,
.sqr-btn.disabled.focus,
.sqr-btn[disabled].focus {
  background-color: #9990cb;
  border-color: #9990cb;
}
